* {
    box-sizing: border-box;
}

@font-face {
    font-family: montserrat;
    src: url('../fonts/Montserrat-Regular.ttf');
}

/* layout */

html {
    font-family: montserrat;
    color: #040a2c;
    font-size: 1.1875rem;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-color: #00cc8a;
    padding: 0 5vw;
    position: sticky;
    top: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e3;
    padding: 1.125rem;
    min-height: 386px;
}

footer {
    background-color: #00cc8a;
    height: 130px;
    padding: 30px 0;
    color: white;
    font-size: 0.8em;
}

p {
    margin: 0;
}

input, button, select {
    font-size: inherit;
    font-family: inherit;
    outline: none;
}

button {
    border: none;
    border-radius: 12px;
    background-color: #fff;
    cursor: pointer;
    transition: background .3s;
    padding: 0;
    height: 2.4rem;
    width: 2.4rem;
}

button:hover {
    background-color: #c7c7c7;
}

button img {
    height: 60%;
    margin: 20% 0;
}

label {
    cursor: pointer;
}

/* nav bar */

header .logo {
    cursor: pointer;
}

.nav-item {
    padding: 1rem;
    color: white;
    transition: color .3s;
}

.nav-item.active {
    box-shadow: inset 0 -4px 0 #040a2c;
}

.nav-item.active, .nav-item:hover {
    color: #040a2c;
}

/* gallery */

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    gap: 1.125rem;
}

.gallery-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: box-shadow .3s;
}

.gallery-container img:hover {
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.75);
}

/* editor */

canvas {
    cursor: default;
}

canvas.hovering-line {
    cursor: grab;
}

canvas.holding-line {
    cursor: grabbing;
}

main.editor {
    padding: 27px 0;
    min-height: 455px;
    flex-wrap: wrap;
}

header.small .nav-item {
    padding: 0.5rem;
}

footer.small {
    height: 80px;
    padding: 10px;
}

.props {
    height: 400px;
    width: 285px;
    margin-right: 2vw;
}

.line-input {
    padding: 20px 0;
    text-align: center;
    width: 100%;
    border-radius: 12px;
    border: none;
    display: block;
    font-size: 20px;
}

.select-font {
    font-size: 20px;
    padding: 9px 15px;
    border: none;
    cursor: pointer;
    width: 58%;
}

.font-impact {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.font-arial {
    font-family: Arial, Helvetica, sans-serif;
}

.font-comic {
    font-family: 'Comic Sans MS';
}

.share-btn {
    width: 120px;
    background-color: #00cc8a;
    color: white;
}

.share-btn:hover {
    background-color: #00cc8a9e;
}

.color-input {
    position: fixed;
    top: 100000px;
    bottom: 100000px;
}

.props div {
    width: 100%;
}

/* media queries */

@media (max-width: 740px) {
    main.editor {
        padding: 1rem;
    }
    .props {
        width: 400px;
        padding: 1rem 0;
        margin: 0;
    }
}

@media (max-width: 560px) {
    .gallery-container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-auto-rows: 150px;
        gap: 0.5rem
    }
}

/* helpers */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.column {
    flex-direction: column;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}