* {
    box-sizing: border-box;
}

@font-face {
    font-family: montserrat;
    src: url('../fonts/Montserrat-Regular.ttf');
}

/* layout */

html {
    font-family: montserrat;
    color: #040a2c;
    font-size: 1.1875rem;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-color: #00cc8a;
    padding: 0 5vw;
    position: relative;
    top: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e3;
    padding: 1.125rem;
    min-height: 386px;
}

footer {
    background-color: #00cc8a;
    height: 8.125rem;
    padding: 1.875rem 0;
    color: white;
    font-size: 0.8em;
    position: relative;
    bottom: 0;
}

p {
    margin: 0;
}

input, button, select {
    font-size: inherit;
    font-family: inherit;
    outline: none;
}

button {
    border: none;
    border-radius: 12px;
    background-color: #fff;
    cursor: pointer;
    transition: background .3s;
    padding: 0;
    height: 2.4rem;
    width: 2.4rem;
}

button:hover {
    background-color: #c7c7c7;
}

button img {
    height: 60%;
    margin: 20% 0;
}

label {
    cursor: pointer;
}

/* nav bar */

header .logo{
    cursor: pointer;
    height: 16px;
}

.nav-item {
    height: 3rem;
    width: 5rem;
    color: white;
    transition: color .3s;
}

.nav-item.active {
    box-shadow: inset 0 -4px 0 #040a2c;
}

.nav-item.active, .nav-item:hover {
    color: #040a2c;
}

/* modal */

.modal {
    position: absolute;
    left: 50%;
    top: 50%; 

    z-index: 2000;
    background-color: #ffffffd4;
}

.modal.closed {
    display: none;
}

button.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0;
    color: #00cc8a;
}

.opened-modal .screen {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #00000075;
}


/* gallery */

.gallery-container, .saved-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    gap: 1.125rem;
}

.gallery-container img, .saved-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: box-shadow .3s;
}

.gallery-container img:hover, .saved-container img:hover {
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.75);
}

.saved-container {
    width: 100%;
    height: 100%;
}

main.saved {
    min-height: calc(100vh - 3rem - 8.125rem);
}

.saved-modal {
    width: 80vw;
    height: 80vh;
    margin-left: -40vw;
    margin-top: -40vh;
}

.opened-modal main.saved {
    height: calc(100vh - 3rem - 8.125rem);
    overflow: hidden;
}

.saved-modal .share-container {
    display: inline;
}

.saved-modal form {
    width: 40%;
}

.share-saved {
    width: 80%;
    margin-top: 20px;
}

/* editor */

canvas {
    cursor: default;
}

canvas.hovering-line {
    cursor: grab;
}

canvas.holding-line {
    cursor: grabbing;
}

main.editor {
    padding: 0 1rem;
    flex-wrap: wrap;
    height: calc(100vh - 2.5rem - 2rem);
}

header.small .nav-item {
    height: 2rem;
    width: 5rem;
}

footer.small {
    height: 2.5rem;
    padding: 0;
    flex-direction: row;
    justify-content: center;
}

footer.small > *:not(:last-child) {
    padding-right: 1.25rem;
}

.props {
    height: 74vh;
    width: 18rem;
    margin-right: 2vw;
    margin-left: 2vw;
}

.line-input {
    padding: 20px 0;
    text-align: center;
    width: 100%;
    border-radius: 12px;
    border: none;
    display: block;
    font-size: 1.25em;
}

.select-font {
    font-size: 20px;
    padding: 9px 15px;
    border: none;
    cursor: pointer;
    width: 58%;
}

.font-impact {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.font-arial {
    font-family: Arial, Helvetica, sans-serif;
}

.font-comic {
    font-family: 'Comic Sans MS';
}

.share-btn {
    width: 120px;
    background-color: #00cc8a;
    color: white;
}

.share-btn:hover {
    background-color: #45daaa;
}

.color-input {
    position: fixed;
    top: 100000px;
    bottom: 100000px;
}

.props div {
    width: 100%;
}

.props .line-props {
    height: 30%;
    flex-direction: column;
}

.props .edit-props {
    width: 57%;
}

.share-modal {
    width: 300px;
    height: 300px;
    margin-left: -150px;
    margin-top: -150px;
}

.share-modal button {
    margin: 10px 0;
}

.facebook-btn img {
    margin: 0;
    height: 70%;
    margin-top: 2px;
}

button.facebook-btn {
    width: 45px;
    margin: 10px auto;
    background-color: #fff;
}

div.share-container {
    text-align: center;
}

/* media queries */

@media (max-width: 770px) {
    main.editor {
        height: calc(100vh - 1.5rem - 2rem);
        padding: 0.5rem;
    }

    .props {
        height: 74vh;
        width: 15rem;
        margin: 0;
    }

    .line-input {
        padding: 1rem 0;
        font-size: 1em;
    }

    footer.small {
        height: 1.5rem;
    }
}

@media (max-width: 630px) {
    
    .line-input {
        padding: 0.5rem 0;
        font-size: 1em;
        width: 100%;
        margin: 0 auto;
    }

    button {
        height: 2.2rem;
        width: 2.2rem;
    }

    .props {
        height: 37vh;
        width: 90%;
        margin: 0;
    }

    .props .line-props {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .props .text-props {
        width: 60%;
    }

    .props .edit-props {
        width: 35%;
    }

    .props .font-props {
        width: 70%;
        justify-content: space-around;
    }

    .share-btn {
        margin-top: 1rem;
    }
}

@media (max-width: 445px) {
    .props {
        width: 95%;
    }

    .props .text-props {
        width: 61%;
    }

    .props .edit-props {
        width: 37%;
    }
}

@media (min-height: 600px) {
    .props .line-props {
        height: 34%;
        flex-direction: column;
    }
    
    .props .edit-props {
        width: 57%;
    }

    .props .text-props, .props .font-props {
        width: 100%;
    }

    .props {
        height: 43vh;
        width: 95%;
        margin: 0;
    }
}

@media (max-width: 560px) {
    .gallery-container, .saved-container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-auto-rows: 150px;
        gap: 0.5rem
    }
}

/* helpers */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.column {
    flex-direction: column;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}